.App .App-header {
  font-size: 48px;
  text-align: center;
}

.App .App-footer {
  margin: 30px;
}

.App {
  background: #f9f7fc;
  color: #272044;
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #b88df7;
}

a:hover {
  color: #873ff2;
}
